/* Estilo geral */
body {
    background-color: #3d3e42; /* Fundo em cinza mais escuro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo do banner */
.banner {
    background-color: #000000; /* Preto */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Imagens dentro do banner */
.banner-image-left {
    height: 100px; /* Ajuste conforme necessário */
}

.banner-image-center {
    height: 120px; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding-right:130px;
}

/* Estilo do catálogo */
.catalogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.catalog-item {
    flex: 1 1 calc(20% - 40px);
    margin: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.catalog-item img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
/* Estilo do rodapé */
footer {
    background-color: #343434;
    color: #ffffff;
    padding: 40px 20px;
    position: relative;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Estilo da logo no rodapé */
.footer-logo img {
    width: 290px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Estilo das colunas de links */
.footer-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 40px;
}

.footer-column {
    margin-right: 40px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Estilo das redes sociais */
.footer-social a {
    margin-left: 10px;
    display: inline-block;
}

.footer-social img {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Botão de contato */
.contact-button {
    text-align: center;
    margin-top: 20px;
}

.contact-button a {
    background-color: #f9ce43;
    color: #343434;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.contact-button a:hover {
    background-color: #e0b839;
}

/* Copyright */
.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #cccccc;
}

